.card {
    display: flex;
    flex-direction: column;
    flex-basis: 15em;
    align-items: center;
    margin: 15px;
    border: 1px solid burlywood;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 15px;
}